.titleProyect{
    color: #032551;
}
.btn-primary{
    background-color: #032551;
    border-color: #032551;
}


.btn-primary:hover{
    background-color: #1c69cf;
    background-color: #1c69cf;
}


.redesSociales{
    background-color: #032551;
}


